/*
Student Name: William Gomez
File Name: styles.css
Date: 7/30/2021
*/


/*CSS Reset*/
body, header, nav, main, footer, img, h1, h3, ul
{
margin: 0;
padding: 0;
border: 0;
}

/*Style rules for body and image headers*/


body
{
  background-color: #ff99ff;
  text-align: center;
  font-family: Geneva, Arial, sans-serif;
}

img
{
  display: block;
  max-width: 100%;
}

 /*Style rules for mobile viewport.*/

 /*Style rules to show mobile class and hide tab-desk class.*/

.mobile
{
  display: block;
}
.tab-desk
{
  display: none;
}

/*Style rules for header area*/

.mobile h1, .mobile h3
{
  padding: 2%;
  text-align: center;
}

.mobile h1
{
  font-family: 'Exo 2', sans-serif;
}

.mobile h3
{
  font-family: 'Roboto', sans-serif;
}

/*Style rules for navigation area*/

nav
{
  background-color: #ffffff;
}

nav ul
{
  list-style: none;
  margin: 0;
  text-align: center;
}

nav li
{
  display: block;
  font-size: 1.25em;
  font-family:'Exo 2', sans-serif;
  font-weight: bold;
}

nav li a
{
  display: block;
  color: #ff99ff;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  text-decoration: none;
  border-top: 0.5px ;
  border-top-color: #ff99ff ;
  border-top-style: solid ;
}



#services
{
text-decoration: none;
list-style-type: none;
padding-left: 2%;
padding-right: 2%;
padding-bottom: 5%;
padding-top: 5%;
font-weight: bold;

}

.img1
{
 float: left;
}

.clearfix
{
  overflow: auto;
}
/*Style rules for footer content*/

footer
{
  text-align: center;
  font-size: 0.85em;
  background-color: #ffffff;
  color: #000000;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 0%;
  padding-right: 0%;
}

footer a
{
  color: #ff99ff;
  text-decoration: none;
  font-weight: bold;
}

/*style rules for pictures*/

.round
{
  border-radius: 7px;
  width: 95%;
  height: 95%;
}

/*style for mobile telephone*/

.tel-link
{
  background-color: #ffffff;
  padding: 2%;
  width: 80%;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
}

.tel-link a
{
  color: #ff99ff;
  text-decoration: none;
  font-weight: bold;
}

