/*
Student Name: William Gomez
File Name: styles.css
Date: 7/30/2021
*/


/*CSS Reset*/
body, header, nav, main, footer, img, h1, h3, ul
{
margin: 0;
padding: 0;
border: 0;
}

/*Style rules for body and image headers*/


body
{
  background-color: #ff99ff;
  text-align: center;
  font-family: Geneva, Arial, sans-serif;
}

img
{
  display: block;
  max-width: 100%;
  
}

main{
  background-color: #ff99ff;
}

 /*Style rules for mobile viewport.*/

 /*Style rules to show mobile class and hide tab-desk class.*/

.mobile
{
  display: block;
}
.tab-desk
{
  display: none;
}

/*Style rules for header area*/

.mobile h1, .mobile h3
{
  padding: 2%;
  text-align: center;
}

.mobile h1
{
  font-family: 'Exo 2', sans-serif;
}

.mobile h3
{
  font-family: 'Roboto', sans-serif;
}

/*Style rules for navigation area*/

nav
{
  background-color: #ffffff;
}

nav ul
{
  list-style: none;
  margin: 0;
  text-align: center;
}

nav li
{
  display: block;
  font-size: 1.25em;
  font-family:'Exo 2', sans-serif;
  font-weight: bold;
}

nav li a
{
  display: block;
  color: #ff99ff;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  text-decoration: none;
  border-top: 0.5px ;
  border-top-color: #ff99ff ;
  border-top-style: solid ;
}



.services
{
text-decoration: none;
list-style-type: none;
padding-left: 2%;
padding-right: 2%;
padding-bottom: 5%;
padding-top: 5%;
font-weight: bold;



}

.img1
{
 float: left;
 background-color: #ff99ff;
}


/*Style rules for footer content*/

footer
{
  text-align: center;
  font-size: 0.85em;
  background-color: #ffffff;
  color: #000000;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 0%;
  padding-right: 0%;
}

footer a
{
  color: #ff99ff;
  text-decoration: none;
  font-weight: bold;
}

/*style rules for pictures*/

.round
{
  border-radius: 7px;
  width: 95%;
  height: 95%;
  background-color: #ff99ff;
}

/*style for mobile telephone*/

.tel-link
{
  background-color: #ffffff;
  padding: 2%;
  width: 80%;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
}

.tel-link a
{
  color: #ff99ff;
  text-decoration: none;
  font-weight: bold;
}

@media screen and (min-width: 550px), print {
  
/* Tablet Viewport: Show tab-desk class, hide mobile class */  
.tab-desk {
    display: block;
} 
.mobile {
    display: none;  
} 
/* Tablet Viewport: Style rule for header content */     
span.tab-desk {
    display: inline;
}


/*Tablet Viewport: Style rules for nav area */

nav li{
  
  display: inline-block;
  font-size: 1.5em;
  margin-top: 2%;
  margin-bottom: 2%;
  border-right: solid 2px #ff99ff;
  border-bottom:solid 2px#ff99ff ;
  border-left: solid 2px #ff99ff;
  border-top: solid 2px #ff99ff;
}


nav li a{
  padding-top: 0.25em;
  padding-bottom: 0.25em ;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
/*Tablet Viewport: Style rule for map*/
.map{
  width: 500px;
  height: 450px;
}

  #grooming, #birthday{
    width: 45%;
    float:left;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 2%;
    margin-left: 2%;
    

  }


}


/* Media Query for Desktop Viewport */
@media screen and (min-width: 769px), print {

  /*Desktop Viewport: Style rule for header*/

  header{
    padding:2%;
  }

  /*Desktop Viewport: Style rules for nav area*/
  nav li a{
    padding-top: 0.5em;
    padding-bottom: 0.5em ;
    padding-left: 3em;
    padding-right: 3em;
    border-top: none;
  }
  nav li a:hover{
    color: #fff;
    background-color: #ff99ff;
  }
  
  /*Desktop Viewport: Style rules for main content*/
  #info ul{
    margin-left: 5%;
  }


  main h3{
    font-size: 1.5em;
    margin-bottom: 2%;
  }


  #grooming, #birthday{
    width: 45%;
    float:left;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 2%;
    margin-left: 2%;

  }


}

/*Media Query for Print*/
@media print{
  body{
    background-color: #fff;
    color: #000;
  }
}

